rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Profiles rules
    match /users/{userId} {
      // Anyone signed in can read a profile
      allow read: if request.auth != null;
      // Users can only update their own profile, or admins can update any
      allow write: if request.auth != null && (request.auth.uid == userId || get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['admin', 'super-admin']);
    }

    // Levels rules
    match /levels/{levelId} {
      allow read: if (resource == null) || (resource.data != null && (resource.data.visibility == 'public' || resource.data.isOfficial == true)) || (request.auth != null && (
        resource.data.uid == request.auth.uid || 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['admin', 'super-admin']
      ));
      
      // A user can create/update a level if they own it and have the right role
      allow write: if request.auth != null && (
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['editor', 'moderator', 'admin', 'super-admin']
      ) && (
        (request.resource.data.uid == request.auth.uid) || 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['admin', 'super-admin']
      );
      
      allow delete: if request.auth != null && (
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['editor', 'moderator', 'admin', 'super-admin']
      ) && (
        resource.data.uid == request.auth.uid || 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['admin', 'super-admin']
      );
    }
    // Campaigns rules
    match /campaigns/{campaignId} {
      allow read: if (resource == null) || (resource.data != null && (resource.data.visibility == 'public' || resource.data.isOfficial == true)) || (request.auth != null && (
        resource.data.uid == request.auth.uid || 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['admin', 'super-admin']
      ));
      
      allow write: if request.auth != null && (
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['editor', 'moderator', 'admin', 'super-admin']
      ) && (
        (request.resource.data.uid == request.auth.uid) || 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['admin', 'super-admin']
      );
      
      allow delete: if request.auth != null && (
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['editor', 'moderator', 'admin', 'super-admin']
      ) && (
        resource.data.uid == request.auth.uid || 
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role in ['admin', 'super-admin']
      );
    }
  }
}
