/* Write your global styles here, in PostCSS syntax */
@import url("https://fonts.googleapis.com/css2?family=Acme&family=Roboto+Mono:wght@400;700&family=Roboto:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply h-full overflow-hidden;
}
